@use "./variables.scss";

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  position: relative;

  img {
    max-width: 60vw;
  }

  &::after {
    content: "";
    position: absolute;
    width: 50%;
    background-color: variables.$accent-color;
    height: 2px;
    border-radius: 1px;
    bottom: 10%;
    left: 50%;
    animation: growWidth 500ms 200ms ease-in-out forwards;
    transform: translateX(-50%);
  }
}

@keyframes growWidth {
  0% {
    width: 50%;
  }
  100% {
    width: 90%;
  }
}

.intro {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  font-family: var(--garamond);
  font-size: 1.2rem;
  color: variables.$font-color;
  font-weight: 400;

  span {
    color: variables.$accent-color;
    font-weight: 500;
  }
}
